#main {
    margin-top: 12vh;
}
/* cards CSS */

#all-cards {
    row-gap: 1rem;
    --bs-gutter-x: 0px;
}
.mu-card {
    min-width: 28%;
    max-width: 32%;
    box-shadow: 0px 1px 1px 0.3px #a0a0a06f;
    justify-content: center;
    transition: box-shadow 0.2s ease-in-out;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.mu-card:hover {
    box-shadow: 0px 1.5px 7px 0.9px #7a7a7a77;
    cursor: pointer;
    background-color: #5f5f5f13;
}

.card-inside {
    justify-content: center;
    display: flex;
    align-items:center; 
}
.mu-img {
    height: 100px;
}
.au-name {
    text-decoration: none;
    color: #989898;
}
.au-name:hover {
    color: #989898;
}
